@import  '../../global.scss';

.homeContainer{


    .homeHeaderContainer{
        top: 0;
        height: 400px;
        margin-top: 200px;
        display: flex;

        .homeHeaderText{
            margin-left: 200px;
            flex: 0.7;

            .homeHeaderH1{
                color: $slate;
                font: medium 500;
                font-style: italic;
                font-size: 3.5rem;
                text-align:start;

            };

            .homeHeaderH2{
                color: $orange;
                font: regular;
                font-style: italic;
                font-size:  2.5rem;
            };
        };

        .homeHeaderImgContainer{
            flex: 0.3;

            .homeHeaderImg{
                height: 200px;
                border-radius: 50%;

            };
        };
    };

    .aboutMeContainer{
        height: 500px;
        background-color: $slate;

        .aboutMeTitle{
            color: $orange;
            font-style: italic;


        }
    }

    .emptyContainer{
        height:800px;
        background-color:white;
    }
};