@import './global.scss';

* {    
    margin: 0;
    padding: 0;
}

.top{
    width: 100vw;
    height: 300px;
    background-color: $cream;
    color: $blue;
}

.bottom{
    width: 100vw;
    height: 300px;
    background-color: $blue;
    color: yellow;
}