@import './global.scss';


* {    
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

.home, .projects, .contact{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}

.top{
    width: 100vw;
    height: 300px;
    background-color: $cream;
    color: $blue;
}

.bottom{
    width: 100vw;
    height: 300px;
    background-color: $blue;
    color: yellow;
}


