@import './global.scss';


* {    
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

.home, .projects, .contact{
    background-color: slategray;
    display: flex;
    height: 200vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}
