//variables
$blue: #192A51;
$purple: #967AA1;
$lilac: #AAA1C8;
$lavender: #D5C6E0;
$cream: #F5E6E8;

//map - created to store font sizes and font weights

$font-weights: (
  'thin': 100,
  'extraLight': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'extra-bold': 800,
);

$font-sizes: (
  'extraSmall': 0.75rem,
  'small': 0.875rem,
  'regular': 1rem,
  'medium': 1.25rem,
  'large': 1.5rem,
  'extraLarge': 2rem,
);

// function to usefor fontWeight
@function fontWeight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

// function to usefor fontSize
@function fontSize($size-name) {
  @return map-get($font-sizes, $size-name);
}
